{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tennis!</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'draw/css/style.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'jquery/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'draw/js/script.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="options">
        <div class="row">
            <div class="col-sm-12 h3" id="titleRow">Options</div>
        </div>
        <div class="col-left">
            <form name="frmOptions" id="frmOptions" method="POST" action="play">
                {% csrf_token %}
                <div class="option">
                    <span class="optionTitle">Gender</span>
                    <ul class="options" id="optionsGender">
                        <li><input type="radio" name="gender" value="mens" id="gender_mens">&nbsp;&nbsp;&nbsp;<label for="gender_mens">Men's</label></li>
                        <li><input type="radio" name="gender" value="womens" id="gender_womens">&nbsp;&nbsp;&nbsp;<label for="gender_womens">Women's</label></li>
                        <li><input type="radio" name="gender" value="mixed" id="gender_mixed">&nbsp;&nbsp;&nbsp;<label for="gender_mixed">Mixed</label></li>
                    </ul>
                </div>
                <div class="option">
                    <span class="optionTitle">Format</span>
                    <ul class="options" id="optionsFormat">
                        <li><input type="radio" name="format" value="singles" id="format_singles">&nbsp;&nbsp;&nbsp;<label for="format_singles">Singles</label></li>
                        <li><input type="radio" name="format" value="doubles" id="format_doubles">&nbsp;&nbsp;&nbsp;<label for="format_doubles">Doubles</label></li>
                    </ul>
                </div>
                <div class="option">
                    <span class="optionTitle"># of courts</span>
                    <ul class="options" id="optionsCourts">
                        <li><input type="text" name="courts" id="courts" size="4" value="0"></li>
                    </ul>
                </div>
                <div class="option">
                    <span class="optionTitle">Override</span>
                    <ul class="options" id="optionsOverride">
                        <li><input type="checkbox" name="override" id="override" /></li>
                    </ul>
                </div>
                <input type="hidden" name="players_men" id="players_men" value="">
                <input type="hidden" name="players_women" id="players_women" value="">
            </form>
        </div>
        <div class="col-right">
            <button id="play">Let's Play!</button>
        </div>
    </div>
    <div class="men" style="display: none;">
        <div class="row">
            <div class="col-sm-12 h3" id="titleRow">Men ({{ players_men.count }})<span id="needed"><span id="needed_men">0</span> needed</span></div>
        </div>
        <div class="col-left">
            <div class="row" id="players_men">
                <button id="selectAllMen">Select All Men</button>
                <button id="clearAllMen">Clear All</button>
                <ul id="selectable_men">
                    {% for player in players_men %}
                    <li class="ui-state-default">
                        <img class="player" src="{{ player.image }}" title="{{ player.fname }} {{ player.lname }}">
                        <span class="player_name">{{ player.fname }} {{ player.lname }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-right">
            <div class="header">
            Selected Men (<span id="menSelected">0</span>)
            </div>
            <div class="data" id="selectedMen">
            </div>
        </div>
    </div>
    <div class="women" style="display: none;">
        <div class="row">
            <div class="col-sm-12 h3" id="titleRow">Women ({{ players_women.count }})<span id="needed"><span id="needed_women">0</span> needed</span></div>
        </div>
        <div class="col-left">
            <div class="row" id="players_women">
                <button id="selectAllWomen">Select All Women</button>
                <button id="clearAllWomen">Clear All</button>
                <ul id="selectable_women">
                {% for player in players_women %}
                    <li class="ui-state-default">
                        <img src="{{ player.image }}" title="{{ player.fname }} {{ player.lname }}">
                        <span class="player_name">{{ player.fname }} {{ player.lname }}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-right">
            <div class="header">
            Selected Women (<span id="womenSelected">0</span>)
            </div>
            <div class="data" id="selectedWomen">
            </div>
        </div>
    </div>
</div>
</body>
</html>