{% csrf_token %}
{% for court in data.assigned_courts %}
    <strong>Court # {{ forloop.counter }}</strong><br />
    &nbsp;&nbsp;&nbsp;
    {% for teams in court %}
        {% for players in teams %}
            {% for player in players %}
                {{ player }}
            {% endfor %}
            {% if not forloop.last %}
                /
            {% endif %}
        {% endfor %}
        {% if not forloop.last %}
            <strong>VS</strong>
        {% endif %}
    {% endfor %}
    <br />
{% endfor %}